[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jumpcutter = {editable = true, path = "."}
pytest = "*"
typer = "*"
numpy = "*"
scipy = "*"
pytube = "*"
audiotsm = "*"
matplotlib = "*"
pysimplegui = "*"
ffmpeg-python = "*"

[dev-packages]
black = "21.11b1"
isort = "*"
autoflake = "*"
pre-commit = "*"
doit = "*"
pytest = "*"
nbqa = "*"
flake8 = "*"
pyinstaller = "*"

[requires]
python_version = "3.7"
